version: 2
jobs:
  lint:
    docker:
      - image: cimg/node:24.11.0

    steps:
      - checkout:
          method: full
      - restore_cache:
          keys:
            - v1-dependencies-{{ .Branch }}-{{ checksum "pnpm-lock.yaml" }}
      - run:
          name: Enable pnpm via corepack
          command: corepack enable
      - run:
          name: Install dependencies
          command: pnpm install --frozen-lockfile
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ .Branch }}-{{ checksum "pnpm-lock.yaml" }}
      - run:
          name: Run linting
          command: pnpm run lint

  deploy:
    docker:
      - image: cimg/node:24.11.0
    steps:
      - checkout:
          method: full
      - run:
          name: Add Scalingo to known_hosts
          command: ssh-keyscan -H ssh.osc-fr1.scalingo.com >> ~/.ssh/known_hosts
      - run:
          name: Deploy to Scalingo
          command: |
            if [ $CIRCLE_BRANCH = "prod" ];
            then
              git push -f git@ssh.osc-fr1.scalingo.com:$SCALINGO_PROD_APP_NAME.git ${CIRCLE_BRANCH}:master;
              git push -f git@ssh.osc-fr1.scalingo.com:$SCALINGO_SANDBOX_APP_NAME.git ${CIRCLE_BRANCH}:master;
            else
              git push -f git@ssh.osc-fr1.scalingo.com:$SCALINGO_STAGING_APP_NAME.git ${CIRCLE_BRANCH}:master;
            fi;

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - lint
      - deploy:
          requires:
            - lint
          filters:
            branches:
              only:
                - master
                - prod