.alerts-chart {
    .recharts-legend-item-text {
        font-size: 0.75rem;
        color: var(--background-flat-grey) !important;
        font-weight: 700;
    }
}

.fr-tile.alerts-chart {
    padding-left: 0px;
    padding-right: 0px;
}