.flex-column {
  display: flex !important;
  flex-direction: column;
}

.flex-row {
  display: flex !important;
  flex-direction: row;
}

.flex-row-space-between {
  @extend .flex-row;
  justify-content: space-between;
  align-items: center;
}

.flex-column-space-between {
  @extend .flex-column;
  justify-content: space-between;
  align-items: center;
}

.flex-row-center {
  @extend .flex-row;
  justify-content: center;
  align-items: center;
}

.flex-row-flex-start {
  @extend .flex-row;
  justify-content: flex-start;
  align-items: center;
}

.container {
  @extend .flex-column;
  overflow-x: hidden;
}

.no-margin-no-padding {
  margin: 0 !important;
  padding: 0 !important;
}

#root {
  @extend .container;
  @extend .no-margin-no-padding;
  align-items: center;
  text-align: center;
  height: 100%;
}

.stretch-container {
  @extend .container;
  flex-grow: 1;
  align-items: stretch;
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.cta-container {
  @extend .container;
  align-items: center;
  justify-content: center;
  z-index: 500;
  flex-shrink: 0;
}

.bold {
  font-weight: bold !important;
}

.highlight {
  background-color: palegoldenrod;
  font-weight: bold;
}

.hidden {
  visibility: hidden;
}

.scrollable {
  overflow-y: auto;
}

.full-width-divider {
  position: relative;
  left: -16px;
  width: 100vw;
  overflow: hidden;
}

.vertical-form {
  width: 100% !important;
  padding-bottom: 24px;
}

.centered {
  margin: auto;
}

.vertical-form-text-input {
  margin-bottom: 2vh !important;
}

.day-info-inputs {
  @extend .flex-column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.header-container {
  align-self: center;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.refresh-app-alert {
  .MuiAlert-message {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form-field-title {
  padding-bottom: 16px;
  padding-top: 32px;
}

.fade-in-image {
  padding: 0;
  position: relative;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.fade-in-image:before {
  content: "";
  float: left;
  padding-top: 41%;

  @media (max-width: 500px) {
    padding-top: 120%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.PrivatePickersToolbar-root {
  background-color: #3284ff;
  color: white;

  .MuiTypography-root {
    color: white;
  }
}

// override dsfr style for mui compatibility
body {
  --link-blank-content: none;
}

[href]:not(.fr-breadcrumb__link) {
  --underline-img: none;
}

hr {
  padding: 0;
  background-image: none;
}

.fr-footer,
.fr-follow {
  text-align: left; // style needed because text is centered in #root
  width: 100%;
}

.fr-footer__logo {
  max-height: 133px;
}

.MuiButton {
  &-contained:hover {
    --hover-tint: #0053b3;
  }

  &-outlined:hover,
  &-text:hover {
    --hover-tint: rgba(50, 132, 255, 0.04);
  }

  &-contained:active {
    --active-tint: #0053b3;
  }
}

.MuiTab-root:hover {
  --hover-tint: inherit;
}

.MuiTab-root:active {
  --active-tint: inherit;
}
