:root {
  --activity-card-height: 70px;
  --activity-card-max-height: 22vh;
  --bottom-nav-bar-height: 0px;
}

@media screen and (max-height: 400px) {
  :root {
    --bottom-nav-bar-height: 0px;
  }

  .nav-bar-container {
    border-top: none !important;
  }
}

.flex-column {
  display: flex !important;
  flex-direction: column;
}

.flex-row {
  display: flex !important;
  flex-direction: row;
}

.flex-row-stretch {
  @extend .flex-row;
  align-items: stretch;
}

.flex-row-space-between {
  @extend .flex-row;
  justify-content: space-between;
  align-items: center;
}

.flex-column-space-between {
  @extend .flex-column;
  justify-content: space-between;
  align-items: center;
}

.flex-row-center {
  @extend .flex-row;
  justify-content: center;
  align-items: center;
}

.flex-row-flex-start {
  @extend .flex-row;
  justify-content: flex-start;
  align-items: center;
}

.container {
  @extend .flex-column;
  overflow-x: hidden;
}

.no-margin-no-padding {
  margin: 0 !important;
  padding: 0 !important;
}

#root {
  @extend .container;
  @extend .no-margin-no-padding;
  align-items: center;
  text-align: center;
  height: 100%;
}

.stretch-container {
  @extend .container;
  flex-grow: 1;
  align-items: stretch;
  justify-content: space-between;
}

.app-container {
  @extend .container;
  @extend .no-margin-no-padding;
  max-width: 800px;
}

.activity-grid-container {
  @extend .flex-column;
  justify-content: center;
}

.nav-bar-container {
  width: 100vw;
  justify-content: space-between !important;
  position: fixed;
  bottom: 0;
  height: var(--bottom-nav-bar-height) !important;
  border-top: solid 1px;
}

.timeline-container {
  @extend .flex-column;
  align-items: center;

  .timeline-title {
    align-self: flex-start;
    font-weight: bold !important;
  }

  .timeline-line-end-arrow {
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    opacity: 0.2;
  }

  .timeline-line {
    @extend .flex-row-center;
    width: 90%;
    margin-bottom: 0.25rem;
  }

  .timeline-segment {
    height: 0.25rem;
  }

  .timeline-point {
    border: solid 0.25rem;
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 100%;
  }

  .timeline-legend {
    height: 0.75rem;
    border: none;
    background: transparent !important;
  }

  .timeline-segment-blurred {
    background: linear-gradient(to right, blue, white);
  }
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.cta-container {
  @extend .container;
  align-items: center;
  justify-content: center;
  z-index: 500;
  flex-shrink: 0;
}

.bold {
  font-weight: bold !important;
}

.highlight {
  background-color: palegoldenrod;
  font-weight: bold;
}

.summary-card-timer {
  width: 27%;
  max-width: 100px;
}

.summary-card-table-cell {
  padding: 8px 0 !important;
}

.hidden {
  visibility: hidden;
}

.scrollable {
  overflow-y: auto;
}

.unshrinkable {
  flex-shrink: 0;
}

.stretch-header-content {
  align-items: stretch !important;
}

.new-team-member-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.new-team-member-text-field {
  flex-grow: 1;
}

.expenditures-checkbox {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.full-width-divider {
  position: relative;
  left: -16px;
  width: 100vw;
  overflow: hidden;
}

.picker-container {
  z-index: 600 !important;
  margin: auto;
  width: 90% !important;
  align-self: center;
  max-width: 400px;
}

.days {
  width: 100vw;
}

@media screen and (min-width: 600px) {
  .days {
    margin-left: -8px !important;
  }
}

.vertical-form {
  width: 100% !important;
  padding-bottom: 24px;
}

.centered {
  margin: auto;
}

.vertical-form-text-input {
  margin-bottom: 2vh !important;
}

.day-info-inputs {
  min-height: 60vh !important;
  @extend .flex-column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.admin-container {
  height: 100%;
}

.new-lines-on-overflow {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.header-container {
  align-self: center;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.project-name {
  font-family: Marianne !important;
  -webkit-padding-after: 2px;
}

.vertical-timeline-label {
  flex-shrink: 0;
  width: calc(50% - 40px);
}

.refresh-app-alert {
  .MuiAlert-message {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form-field-title {
  padding-bottom: 16px;
  padding-top: 32px;
}

.fade-in-image {
  padding: 0;
  position: relative;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
.fade-in-image:before {
    content: "";
	float: left;
	padding-top: 41%;

    @media (max-width: 500px) {
      padding-top: 120%;
    }
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
