@use 'InfractionDay.scss';
@use 'SegmentedControl.scss';
@use 'Notice.scss';
@use 'Accordion.scss';
@use 'Certificate.scss';
@use 'Charts.scss';


.flex-column {
  display: flex !important;
  flex-direction: column;
}

.flex-row {
  display: flex !important;
  flex-direction: row;
}

.flex-row-space-between {
  @extend .flex-row;
  justify-content: space-between;
  align-items: center;
}

.flex-column-space-between {
  @extend .flex-column;
  justify-content: space-between;
  align-items: center;
}

.flex-row-center {
  @extend .flex-row;
  justify-content: center;
  align-items: center;
}

.flex-row-flex-start {
  @extend .flex-row;
  justify-content: flex-start;
  align-items: center;
}

.container {
  @extend .flex-column;
  overflow-x: hidden;
}

.no-margin-no-padding {
  margin: 0 !important;
  padding: 0 !important;
}

#root {
  @extend .container;
  @extend .no-margin-no-padding;
  align-items: center;
  height: 100%;
}

.stretch-container {
  @extend .container;
  flex-grow: 1;
  align-items: stretch;
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.cta-container {
  @extend .container;
  align-items: center;
  justify-content: center;
  z-index: 500;
  flex-shrink: 0;
}

.bold {
  font-weight: bold !important;
}

.highlight {
  background-color: palegoldenrod;
  font-weight: bold;
}

.hidden {
  visibility: hidden;
}

.scrollable {
  overflow-y: auto;
}

.full-width-divider {
  position: relative;
  left: -16px;
  width: 100vw;
  overflow: hidden;
}

.fit-container-divider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.vertical-form {
  width: 100% !important;
  padding-bottom: 24px;
}

.centered {
  margin: auto;
}

.vertical-form-text-input {
  margin-bottom: 2vh !important;
}

.timezone-select {
  @extend .vertical-form-text-input;
  margin-top: 2vh !important;
  text-align: left;
}

.day-info-inputs {
  @extend .flex-column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.header-container {
  align-self: center;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 1000;

  &.fit-container {
    width: 100%;
  }
}

.form-field-title {
  padding-bottom: 16px;
  padding-top: 32px;
}

.fade-in-image {
  position: relative;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.fade-in-image:before {
  content: "";
  float: left;
  padding-top: 41%;

  @media (max-width: 500px) {
    padding-top: 120%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.PrivatePickersToolbar-root {
  background-color: #3284ff;
  color: white;

  .MuiTypography-root {
    color: white;
  }
}

// override dsfr style for mui compatibility
[target=_blank]:after {
  display: none !important;
}


// override dsfr tables
.fr-table {
  padding: 0;
  margin-bottom: 0;
}

.fr-table th {
  min-width: 125px;
}

.MuiSelect-nativeInput:disabled {
  opacity: 0;
}

[href]:not(.fr-breadcrumb__link, .fr-link, .fr-notice__link) {
  --underline-img: none;
}

video:not([href])[controls] {
  cursor: pointer;
}

.hr-unstyled {
  padding: 0;
  background-image: none;
}

.fr-footer,
.fr-follow {
  text-align: left; // style needed because text is centered in #root
  width: 100%;
}

.fr-footer__logo {
  max-height: 133px;
}

.MuiButton {
  &-contained:hover {
    --hover-tint: #0053b3;
  }

  &-outlined:hover,
  &-text:hover {
    --hover-tint: rgba(50, 132, 255, 0.04);
  }

  &-contained:active {
    --active-tint: #0053b3;
  }
}

.MuiTab-root:hover {
  --hover-tint: inherit;
}

.MuiTab-root:active {
  --active-tint: inherit;
}

.camera-box {
  --border-thickness: 8px;
  --border-color: #3284ff;   /* color of the border */
  --border-width: 60px;  /* width of border */
  --border-radius: 32px;  /* radius */
  z-index: 0;

  padding: var(--border-thickness); /* space for the border */

  position:relative;
}
.camera-box::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--border-color,red);
  padding: var(--border-thickness);
  border-radius: var(--border-radius);
  -webkit-mask:
          linear-gradient(  0deg,#000 calc(2*var(--border-thickness)),#0000 0) 50% var(--border-thickness)/calc(100% - 2*var(--border-width)) 100% repeat-y,
          linear-gradient(-90deg,#000 calc(2*var(--border-thickness)),#0000 0) var(--border-thickness) 50%/100% calc(100% - 2*var(--border-width)) repeat-x,
          linear-gradient(#000 0 0) content-box,
          linear-gradient(#000 0 0);
  mask-composite: exclude;
}

.fr-checkbox-group {
  input[type=checkbox]:disabled{
    opacity: 0;
  }
}

.fr-card__title a:after {
  --icon-size: 1.5rem;
  bottom: 2rem;
  position: absolute;
  right: 2rem;
  margin-left: .5rem;
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0ibTE2LjE3MiAxMS01LjM2NC01LjM2NCAxLjQxNC0xLjQxNEwyMCAxMmwtNy43NzggNy43NzgtMS40MTQtMS40MTRMMTYuMTcyIDEzSDR2LTJoMTIuMTcyWiIvPjwvc3ZnPg==);
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0ibTE2LjE3MiAxMS01LjM2NC01LjM2NCAxLjQxNC0xLjQxNEwyMCAxMmwtNy43NzggNy43NzgtMS40MTQtMS40MTRMMTYuMTcyIDEzSDR2LTJoMTIuMTcyWiIvPjwvc3ZnPg==);
  background-color: currentColor;
  content: "";
  display: inline-block;
  flex: 0 0 auto;
  height: 1rem;
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  vertical-align: calc(.375em - .5rem);
  vertical-align: calc((.75em - var(--icon-size))*.5);
  width: 1rem;
  width: var(--icon-size)
}

.fr-btn--secondary.error {
  color: var(--background-action-high-red-marianne);
  box-shadow: inset 0 0 0 1px var(--border-action-high-red-marianne);
  &:hover {
    background-color: var(--background-alt-red-marianne) !important;
  }
}

.fr-btn--icon-left[class^="fr-icon-"]::before, .fr-btn--icon-left[class*=" fr-icon-"]::before, .fr-btn--icon-left[class^="fr-fi-"]::before, .fr-btn--icon-left[class*=" fr-fi-"]::before {
  --icon-size: 1.3rem
}
.fr-btn--icon-right[class^="fr-icon-"]::after, .fr-btn--icon-right[class*=" fr-icon-"]::after, .fr-btn--icon-right[class^="fr-fi-"]::after, .fr-btn--icon-right[class*=" fr-fi-"]::after {
  --icon-size: 1.3rem
}

.fr-icon-sm {
  &::before {
    --icon-size: 1rem
  }
}

.period-chip-success {
  color: #18753C
}

.period-chip-wait {
  color: #B34000
}

.period-chip-current {
  color: #3965EA
}

.fr-modal__footer {
  z-index: 2;
}

.MuiChip-filled.MuiChip-colorDefault {
  background-color: var(--background-action-low-blue-france)
}

main {
  scroll-margin-top: 200px;
}

// DSFR tooltip z-index and overflow fix for ReactVirtualized tables
.fr-tooltip {
  z-index: 1100 !important;
}

// Allow tooltip to overflow from table cells
.ReactVirtualized__Table__rowColumn:has(.fr-tooltip) {
  overflow: visible !important;
}

.ReactVirtualized__Table__row:has(.fr-tooltip) {
  overflow: visible !important;
}

@media (min-width: 90em) {
  .fr-follow, .fr-footer {
    .fr-container {
      padding-left: 0;
      padding-right: 0
    }
  }
}