.side-menu-container {
  flex: 0 0 auto;
}

.ReactVirtualized__Grid__innerScrollContainer {
  border-bottom: 1px solid #c9d3df;
}

.table {
  border: 1px solid #c9d3df;
  border-left: 0;
  border-right: 0;
  border-radius: 2px;
  position: relative;
  width: 100%;
  border-collapse: collapse;

  td {
    color: inherit;
    border-bottom: none;
  }

  thead th {
    background: #fafbfc;
    border-bottom: 1px solid #c9d3df;
    font-weight: 700;
    text-transform: uppercase;
  }

  tr:hover {
    background: #fafbfc;
  }
}
