.side-menu-container {
  flex: 0 0 auto;
}

.panel-container {
  flex: 100 1 auto;
  overflow-x: hidden;
}

.table {
  border: 1px solid #c9d3df;
  border-left: 0;
  border-right: 0;
  border-radius: 2px;
  position: relative;
  width: 100%;
  border-collapse: separate;

  td {
    border-top: 0.5px solid #ebeff3;
    border-bottom: none;
  }

  thead th {
    background: #fafbfc;
    border-bottom: 1px solid #c9d3df;
    font-weight: 700;
    text-transform: uppercase;
  }

  tr:hover {
    background: #fafbfc;
  }
}
