html {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

#playground-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.graphiql-container {
  height: 100% !important;
}

/* Force Monaco editor to display */
.graphiql-session {
  height: 100%;
}

.graphiql-editors {
  height: 100%;
}

.graphiql-query-editor,
.graphiql-response {
  height: 100%;
}
