:root {
  --activity-card-height: min(42vw, 30vh);
  --timeline-base-font-size: min(1vh, 1vw);
  --bottom-nav-bar-height: 56px;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.container {
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: fixed;
  bottom: calc(var(--bottom-nav-bar-height) + 2vh);
  top: 0;
}

.activity-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.activity-card-container {
  height: var(--activity-card-height);
  width: var(--activity-card-height);
  cursor: pointer;
}

.activity-card-content {
  padding: 5% !important;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.activity-card-icon {
  padding: 2px;
  flex-grow: 1;
  flex-shrink: unset !important;
  width: auto !important;
  height: auto !important;
}

.activity-card-timer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card-on-focus {
  font-weight: bold !important;
}


.nav-bar-container {
  width: 100vw;
  justify-content: space-between !important;
  position: fixed;
  bottom: 0;
  height: var(--bottom-nav-bar-height) !important;
}

.time-of-service-container {
  display: flex;
  align-items: center;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fit-to-width {
  width: 100%;
}

.timeline-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: var(--timeline-base-font-size);
}

.timeline-segment {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--timeline-base-font-size) * 0.5);
}

.timeline-point {
  border: solid calc(var(--timeline-base-font-size) * 0.5) black;
  height: calc(var(--timeline-base-font-size) * 1);
  width: calc(var(--timeline-base-font-size) * 1);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-legend {
  height: calc(var(--timeline-base-font-size) * 3);
  border: none;
  background: transparent !important;
}

.timeline-legend-icon {
  font-size: calc(var(--timeline-base-font-size) * 3);
  color: blue;
}

.timeline-legend-label {
  font-size: calc(var(--timeline-base-font-size) * 3);
}

.timeline-segment-blurred {
  background: linear-gradient(to right, blue, white);
}

.start-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.summary-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  visibility: hidden;
}
