:root {
  --activity-card-height: 42vw;
  --activity-card-max-height: 30vh;
  --bottom-nav-bar-height: 56px;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: fixed;
  bottom: calc(var(--bottom-nav-bar-height) + 2vh);
  top: 0;
}

.activity-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.activity-card-container {
  height: var(--activity-card-height);
  max-height: var(--activity-card-max-height);
  width: var(--activity-card-height);
  max-width: var(--activity-card-max-height);
  cursor: pointer;
}

.activity-card-content {
  padding: 5% !important;
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.activity-card-icon {
  padding: 2px;
  flex-grow: 1;
  flex-shrink: unset !important;
  width: auto !important;
  height: auto !important;
}

.activity-card-timer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card-on-focus {
  font-weight: bold !important;
}


.nav-bar-container {
  width: 100vw;
  justify-content: space-between !important;
  position: fixed;
  bottom: 0;
  height: var(--bottom-nav-bar-height) !important;
}

.time-of-service-container {
  display: flex;
  align-items: center;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-title {
  align-self: flex-start;
}

.timeline-line-end-arrow {
  transform:translate(-50%,0);
  -webkit-transform:translate(-50%,0);
  -ms-transform:translate(-50%,0);
  opacity: 0.2;
}

.fit-to-width {
  width: 100%;
}

.timeline-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 0.25rem;
}

.timeline-segment {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.25rem;
}

.timeline-point {
  border: solid 0.25rem black;
  height: 0.4rem;
  width: 0.4rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-legend {
  height: 0.75rem;
  border: none;
  background: transparent !important;
}

.timeline-segment-blurred {
  background: linear-gradient(to right, blue, white);
}

.start-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  position: sticky;
  bottom: 0;
  background-color: white;
  z-index: 500;
}

.summary-card-container {
  margin-bottom: 3vh;
}

.summary-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

.scrollable {
  overflow-y: scroll;
}

.unshrinkable {
  flex-shrink: 0;
}

.team-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-team-member-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(100% - 2vh);
  padding: 2vh 0 2vh 2vh;
  background-color: white;
}

.new-team-member-text-field {
  flex-grow: 1;
}

.coworkers-list {
  overflow-y: scroll;
}

.coworker-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.current-team-summary {
  text-align: start;
}

.space-between {
  justify-content: space-between;
}
