:root {
  --activity-card-height: 30vw;
  --activity-card-max-height: 22vh;
  --bottom-nav-bar-height: 56px;
}

@media screen and (max-height: 400px) {
  :root {
    --bottom-nav-bar-height: 0px;
  }
}

.Root {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: fixed;
  bottom: calc(var(--bottom-nav-bar-height) + 2vh);
  top: 0;
}

.activity-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.activity-card-container {
  height: var(--activity-card-height);
  max-height: var(--activity-card-max-height);
  width: var(--activity-card-height);
  max-width: var(--activity-card-max-height);
  cursor: pointer;
}

.activity-card-title {
  flex-shrink: 0;
  width: 100%;
}

.activity-card-content {
  padding: 3% !important;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.activity-card-icon {
  flex-grow: 1;
  flex-shrink: unset !important;
  width: auto !important;
  height: auto !important;
}

.activity-card-timer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card-on-focus {
  font-weight: bold !important;
}

.nav-bar-container {
  width: 100vw;
  justify-content: space-between !important;
  position: fixed;
  bottom: 0;
  height: var(--bottom-nav-bar-height) !important;
  border-top: solid 1px;
}

.time-of-service-container {
  display: flex;
  align-items: center;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-title {
  align-self: flex-start;
  font-weight: bold !important;
}

.timeline-line-end-arrow {
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  opacity: 0.2;
}

.fit-to-width {
  width: 100%;
}

.timeline-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 0.25rem;
}

.timeline-segment {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.25rem;
}

.timeline-point {
  border: solid 0.25rem;
  height: 0.4rem;
  width: 0.4rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-legend {
  height: 0.75rem;
  border: none;
  background: transparent !important;
}

.timeline-segment-blurred {
  background: linear-gradient(to right, blue, white);
}

.start-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  position: sticky;
  bottom: 0;
  z-index: 5000;
}

.summary-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.summary-card-title {
  font-weight: bold !important;
}

.summary-card-timers {
  display: flex;
  justify-content: space-between;
  margin-top: 4vh;
}

.summary-card-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27%;
  max-width: 100px;
}

.summary-card-table-cell {
  padding: 8px 0 !important;
}

.summary-card-table-cell-value {
  font-weight: bold !important;
}

.hidden {
  visibility: hidden;
}

.scrollable {
  overflow-y: scroll;
}

.unshrinkable {
  flex-shrink: 0;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.stretch-header-content {
  align-items: stretch !important;
}

.new-team-member-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(100% - 2vh);
  padding: 2vh 0 2vh 2vh;
}

.new-team-member-text-field {
  flex-grow: 1;
}

.coworkers-list {
  overflow-y: scroll;
}

.current-team-summary {
  text-align: start;
  font-weight: bold !important;
}

.space-between {
  justify-content: space-between;
}

.expenditures-content {
  display: flex;
  justify-content: space-between;
}

.expenditures-title {
  font-weight: bold !important;
  text-align: left;
}

.expenditures-checkbox {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.full-width-divider {
  position: relative;
  left: -100px;
  width: calc(100vw + 100px);
}

.picker-container {
  z-index: 600 !important;
  width: 90% !important;
  align-self: center;
  max-width: 400px;
}

.days {
  overflow-y: scroll;
  margin-top: 5vh !important;
  margin-left: -16px !important;
  width: 100vw;
}

@media screen and (min-width: 600px) {
  .days {
    margin-left: -24px !important;
  }
}

.regulation-check {
  display: flex;
  padding: 6px 0;
}

.regulation-check-message {
  text-align: left;
  padding-left: 8px;
}

.alerts-container {
  margin-top: 3vh;
}

.landing-container {
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.landing-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.landing-form-inputs {
  max-width: 400px;
  width: 90%;
  margin-bottom: 20vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.landing-form-text-input {
  margin-bottom: 2vh !important;
}

.user-name-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vh;
}

.day-info-inputs {
  height: 60%;
  max-width: 400px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
