@font-face {
  font-family: "Source Sans Pro";
  src: url("~common/assets/fonts/Source Sans Pro/SourceSansPro-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("~common/assets/fonts/Source Sans Pro/SourceSansPro-Bold.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("~common/assets/fonts/Source Sans Pro/SourceSansPro-It.otf");
  font-style: italic;
}

@font-face {
  font-family: "Evolventa";
  src: url("~common/assets/fonts/Evolventa/Evolventa-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Evolventa";
  src: url("~common/assets/fonts/Evolventa/Evolventa-Bold.ttf");
  font-weight: 800;
}

body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  position: fixed;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
